generated
*.pyc
__pycache__
userSpecific/*
!userSpecific/globalVariables.default.bat
!userSpecific/globalVariables.common.bat
!userSpecific/globalVariables.default.sh
!userSpecific/globalVariables.common.sh
sync.ffs_db
.sync.ffs_db
/internal
/thirdParties/itk/g
qLibs.7z
backupInternal.bat